  body {
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Text';
  }

  #topBar {
    width: 100%;
    height: 5vh;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    background-color: #000000;
    font-family: 'Red Hat Text';
    margin-bottom: 1vh;
    cursor: default;
  }

  .logo {
    font-size: 2.5em;
    margin-left: 30px;
    color: #FFFFFF;
    font-weight: bold;
  }

  .jaw {
    display: flex;
    justify-content: space-around;
    margin-right: 40px;
  }

  .creNew,
  #myProject,
  #login,
  #resister {
    font-size: 1em;
    color: #FFFFFF;
    opacity: 0.8;
    padding: 0 10px;
    text-decoration: none;
  }

  .Leftnav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 5vh;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-left: 0;
    left: 0;
    font-size: 2em;
    display: flex;
    z-index: 10000;
    color: #818181;
  }

  

  .Leftnav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s; 
    transition: 444ms;
  }

  .Leftnav a:hover {
    color: #f1f1f1;
  }

  .closebtn {
    position: absolute;
    top: -1px;
    right: 10px;
    padding: 0;
  }

  #main {
    width: 100%;
    height: 95vh;
    display: flex;
    margin-top: 5vh;
    transition: margin-left .5s;
  }

  #myProject,
  .creNew,
  #login,
  #resister {
    transition: 1s;
  }

  #myProject:hover,
  .creNew:hover,
  #login:hover,
  #resister:hover {
    color: #00FFEE;
    text-shadow: 0px 0.1px white;
  }
  #canvas{
    border: 1px solid black;
    position: absolute;
    left: 4vw;
    top: 8vh;
  }
  .rnav{  
    width: 8vw;
    height: 70vh;
    border: 1px solid black;
  }
  #about{ 
    margin-top: 40px;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px 10px;
  }

  .drawbtn{
    background-color: white; 
    border: none;
    color: black;
    padding: 12px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .drawbtn:hover{
    background-color: black;
    color: white;
  }

  .proname{
    margin-left: 20px; 
    width: 200px;
    height: 40px;
    font-size: 15px;
    margin-right: 10px;
  }
  .downbtn{
    background-color: #111; 
    border: none;
    width: 200px;
    height: 40px;
    margin-left: 20px;
    margin-top: 50px;
    color: white;
    text-align: center; 
    font-size: 13px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 1px solid white;
  }
  .downbtn:hover{
    background-color: white;
    color: #111;
  }

  .tip-content{
    position: absolute;
    left: 2.5vw;
    top: 6vh;
    opacity: 0;
    transition-duration: 333ms;
  }
  .tip-content2{
    position: absolute;
    top: calc(10vh - 30px);
    left: calc(93vw + 10px);
    opacity: 0;
    transition-duration: 555ms;
  }
  .tip-content3{
    position: absolute;
    top: calc(10vh + 90px);
    left: calc(93vw + 10px);
    opacity: 0;
    transition-duration: 555ms;
  }
  
  .deleteObject{
    position: absolute;
    font-size: 0.6em;
    top: 10vh;
    opacity: 0;
    transition-duration: 444ms;
  }
.outbtn1{
  position: absolute;
  top: 10vh;
  left: 93vw;
  z-index: 100;
  font-size: 0.9em;
  width: 110px;
  height: 40px;
  outline: none;
  border: none;
  transition-duration: 444ms;
}
.outbtn1:hover, .outbtn2:hover{
  background: white;
  color: #ffa114;
}
.outbtn2{
  position: absolute;
  top: calc(10vh + 50px);
  font-size: 0.9em;
  left: 93vw;
  z-index: 100;
  width: 110px;
  height: 40px;
  border: none;
  outline: none;
  transition-duration: 444ms;
}